@import './common/var';

/* 메인 페이지 관련 */
#main.main {
    position: relative;
    // height: calc(100% - 62px); 124
    height: calc(100% - 62px);
    padding-top: 48px;
    .tab-content {
        position: relative;
        //height: calc(100% - 15vw);
        height: 100%;
    }
    .top-banner {
        // height: 110px;
        .swiper-slide {
            img {
                width: 100%;
            }
        }
        .swiper-pagination {
            display: flex;
            justify-content: center;
            bottom: 19px;
        }
        .swiper-pagination-bullet {
            margin-left: 5px;
            margin-right: 5px;
            width: 8px;
            height: 8px;
            background: rgba(#fff, .6);
            opacity: 1;
        }
        .swiper-pagination-bullet-active {
            background: #fff;
        }
    }
    .bottom-banner {
        height: 54px;
        .swiper-slide {
            img {
                width: 100%;
            }
        }
        .swiper-pagination {
            display: flex;
            justify-content: center;
            bottom: 6px;
        }
        .swiper-pagination-bullet {
            margin-left: 4px;
            margin-right: 4px;
            width: 4px;
            height: 4px;
            background: rgba(#fff, .6);
            opacity: 1;
        }
        .swiper-pagination-bullet-active {
            background: #fff;
        }
    }

    .section {
        background: #fff;
    }
    .section-title {
        flex: 1;
        margin: 0;
        font-size: 13px;
        color: #333;
    }
    .section-more {
        width: 6px;
    }
    .section-titlebar {
        height: 42px;
        a {
            display: flex;
            align-items: center;
            height: 100%;
            padding-left: 15px;
            padding-right: 15px;
            text-decoration: none;
        }
    }

    .product-list {
        overflow: auto;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            width: 675px;
        }
        li {
            margin: 0;
            padding: 0;
            float: left;
            width: 135px;
        }
    }

    #exchange {
        position: relative;
        height: 100%;
        background: #e9e9e9;
        .section {
            & + .section {
                margin-top: 5px;
            }
        }
        .category-list {
            overflow: auto;
            position: relative;
            // height: calc(100% - 11.6666666667vw); 42
            // height: calc(100% - 42px);
            height: 214px;
            ul {
                position: relative;
                overflow: hidden;
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    float: left;
                    width: 33.33%;
                    height: 100%;
                    padding: 0 0 20px 0;
                    & + li {
                        a {
                            border-left: 1px solid #e9e9e9;
                        }
                    }
                    a {
                        padding-top: 10px;
                        display: flex;
                        width: 100%;
                        height: 100%;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        p {
                            overflow: hidden;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 54px;
                            height: 54px;
                            margin-bottom: 5px;
                            img {
                                width: 100%;
                            }
                        }
                        span {
                            font-size: 12px;
                            color: #333;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    #voucher {
        .section {
            .section-titlebar {
                border-bottom: 1px solid #e9e9e9;
            }
            &.top5 {
                .section-titlebar {
                    border-bottom: 0;
                }
            }
        }
    }
}

#main.promotion,
#main.voucher {
    padding-top: 78px;
    .no-data {
        height: calc(100% - 62px - 30px - 30px - 40px - 62px - 48px);
    }
}

#main.recommend {
    padding-top: 30px;
    .no-data {
        height: calc(100% - 62px - 30px - 30px - 40px - 62px);
    }
}

#main.recommend,
#main.promotion,
#main.voucher {
    background: #e9e9e9;
    &:before,
    &:after {
        content: ' ';
        display: flex;
    }
    .sorter {
        margin-bottom: 25px;
    }
    .product-list {
        ul {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0 8px 8px;
            list-style: none;
        }
        li {
            padding: 8px;
            width: 50%;
            .product-item {
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            }
            .product-image {
                margin-top: 12px;
                margin-left: auto;
                margin-right: auto;
            }
            .flag {
                top: 5px;
                right: 5px;
            }
        }
    }
    #category-list {
        background: rgba(#000, .6);
        .modal-header {
            .modal-title {
                font-size: 16px;
            }
        }
        .modal-body {
            ul {
                list-style: none;
                padding: 0 15px;
                margin: 0;
                li {
                    & + li {
                        border-top: 1px solid #e9e9e9;
                    }
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 64px;
                        font-size: 16px;
                        color: #333;
                        text-decoration: none;
                        &.active {
                            font-weight: bold;
                            color: #003da6;
                        }
                    }
                }
            }
        }
    }
}

#main.product-details {
    padding-bottom: 64px;
    .coupon {
        padding: 15px;
        background: #e9e9e9;
        .coupon-wrapper {
            position: relative;
            .flag {
                z-index: 1;
                position: absolute;
                top: 20px;
                right: 20px;
                width: 35px;
                height: 35px;
                b {
                    font-size: 14px;
                }
                small {
                    font-size: 10px;
                }
            }
        }
        .coupon-info {
            padding: 18px;
            z-index: 1;
            position: relative;
            min-height: 50px;
            border-radius: 15px;
            background: #fff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .coupon-image {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 216px;
                height: 135px;
                img {
                    height: 100%;
                }
            }
            .coupon-title {
                margin: 10px 0 0;
                font-size: 15px;
                line-height: 25px;
                color: #333;
            }
            .coupon-price {
                position: relative;
                margin: 0;
                font-weight: 900;
                color: $kc;
                font-size: 16px;
                line-height: 25px;
                s {
                    color: #b2b2b2;
                    font-size: 12px;
                    font-weight: normal;
                }
            }
            .coupon-help {
                margin: 0;
                font-size: 10px;
                line-height: 20px;
                color: #b2b2b2;
            }
        }
        .coupon-share {
            position: relative;
            height: 64px;
            border-radius: 20px;
            background: #fff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .coupon-share-wrapper {
            z-index: 1;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top: 1px dashed #b6e0fd;
            .btns {
                display: flex;
                margin: 0;
                padding: 0;
                list-style: none;
                height: 35px;
                width: 315px;
            }
            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
                padding: 0;
                border: 0;
                box-shadow: none;
                & + .btn {
                    border-left: 1px solid #f2f2f2;
                }
            }
            .btn-kakaotalk img {
                margin-top: 2px;
                height: 25px;
            }
            .btn-facebook img {
                height: 22px;
            }
            .btn-twitter img {
                height: 20px;
            }
        }
    }
    .company {
        display: flex;
        flex-direction: column;
        justify-content: center;
//         height: 100px;
//         padding-left: 30px;
//         padding-right: 30px;
        padding: 30px;
        font-size: 12px;
        line-height: 18px;
        color: #666;
        margin-top: -1px;
        // border-top: 1px solid #e9e9e9;
        h5 {
            font-size: 12px;
        }
        p {
            margin: 0;
        }
        a {
            border-bottom: 1px solid #a7a7a7;
            text-decoration: none;
            color: #a7a7a7;
        }
        .bar {
            margin-left: 8px;
            margin-right: 8px;
            width: 1px;
            height: 8px;
            background: #b8b8b8;
        }
        .cs {
            display: flex;
            align-items: center;
        }
        .terms {
            display: flex;
            align-items: center;
        }
        dl {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            dt, dd {
                margin: 0;
                font-weight: normal;
            }
            dt {
                &:after {
                    margin-right: 3px;
                    content: ':';
                }
            }
        }
        address {
            margin: 0;
        }
    }
    .action {
        z-index: 1;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 64px;
        border-top: 1px solid #e9e9e9;
        background: #fff;
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        .btn {
            flex: 1;
            height: 40px;
            margin-right: 5px;
            margin-left: 5px;
            border-radius: 20px;
            border: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
        }
        .btn-gift-to-me {
            background: $kc;
            color: #fff !important;
        }
        .btn {
            border: 1px solid $kc;
            color: $kc;
            box-shadow: none;
        }
    }
    .details {
        .details-summary {
            .details-body {
                padding: 25px 30px !important;
            }
        }
        .details-image {
            img { width: 100%; }
        }
        .details-desc {
            border-bottom: 1px solid #dbdbdb;
            .btn[data-toggle="collapse"] {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 15px 0 30px;
                margin: 0;
                width: 100%;
                height: 47px;
                background: #e9e9e9;
                box-shadow: none;
                color: #333;
                font-size: 14px;
                border-radius: 0;
                border: 0;
                span {
                    width: 9px;
                    height: 6px;
                    transform: rotate(180deg);
                    background-image: url(/images/ico_arrow_down.png);
                    background-size: 100% auto;
                    background-repeat: no-repeat;
                }
                &.collapsed {
                    span {
                        transform: rotate(0deg);
                    }
                }
            }
            .details-body {
                padding: 30px 30px;
                color: #666;
                font-size: 12px;
                line-height: 16px;
                p {
                    position: relative;
                    padding-left: 6px;
                    margin-bottom: 0;
                    &:before {
                        content: '-';
                        position: absolute;
                        left: 0;
                    }
                }
            }
        }
    }
    .price-tag {
        z-index: 2;
        position: fixed;
        top: 0;
        left: 0;
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
        height: 48px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e9e9e9;
        background: #fff;
        transition: top .3s;
        &.show {
            top: 62px;
        }
        dl {
            margin: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            dt, dd {
                margin: 0;
                padding: 0;
            }
            dt {
                font-size: 14px;
                font-weight: normal;
            }
            dd {
                display: flex;
                align-items: center;
                font-size: 15px;
                color: $kc;
                font-weight: 900;
                letter-spacing: -1px;
                s {
                    margin-left: 8px;
                    font-size: 12px;
                    color: #b2b2b2;
                    font-weight: normal;
                }
            }
        }
    }
}

#main.gift {
    padding-bottom: 64px;
    .confirm {
        padding: 15px;
        background: #e9e9e9;
        .confirm-wrapper {
            position: relative;
            .flag {
                z-index: 1;
                position: absolute;
                top: 20px;
                right: 20px;
                width: 35px;
                height: 35px;
                b {
                    font-size: 14px;
                }
                small {
                    font-size: 10px;
                }
            }
        }
        .confirm-info {
            padding: 30px 15px 30px 0;
            z-index: 1;
            position: relative;
            min-height: 50px;
            border-radius: 15px;
            background: #fff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: center;
            align-items: center;
            .confirm-image {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 125px;
                height: 79px;
                img {
                    height: 100%;
                }
            }
            .confirm-title {
                margin: 10px 0 0;
                font-size: 15px;
                line-height: 25px;
                color: #333;
            }
            .confirm-price {
                position: relative;
                margin: 0;
                font-weight: 900;
                color: $kc;
                font-size: 16px;
                line-height: 25px;
                s {
                    color: #b2b2b2;
                    font-size: 12px;
                    font-weight: normal;
                }
            }
        }
        .confirm-counter {
            position: relative;
            height: 86px;
            border-radius: 20px;
            background: #fff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .confirm-counter-wrapper {
            z-index: 1;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background: #fff;
            border-top: 1px dashed #b6e0fd;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .counter-controls {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .control-title {
                margin-right: 15px;
                font-size: 12px;
                color: #666;
            }
            .control-body { 
                display: flex;
                align-items: center;
                .btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    border: 0;
                    width: 30px;
                    height: 30px;
                    border: 1px solid #d7d7d7;
                    border-radius: 50%;
                    background: #fff;
                    img {
                        width: 8px;
                    }
                }
                .control-number {
                    width: 40px;
                    font-size: 16px;
                    color: $kc;
                    font-weight: bold;
                    text-align: center;
                    border: 0;
                }
            }
            .counter-help {
                margin-top: 10px;
                font-size: 10px;
                color: #b2b2b2;
                text-align: center;
            }
        }
    }
    .message {
        padding: 0 15px 15px 15px;
        background: #e9e9e9;
        .message-wrapper {
            padding-left: 15px;
            padding-right: 15px;
            background: #fbe032;
            border-radius: 15px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            .form-control {
                padding-left: 18px;
                padding-right: 18px;
                min-height: 40px;
                border-radius: 15px;
                border: 1px solid #fff;
                box-shadow: none;
                font-size: 12px;
                color: #333;
                min-width: auto;
                transition: none;
                &::placeholder {
                    color: #b2b2b2;
                    font-size: 12px;
                }
                &:focus {
                    border: 1px solid #e3c60d;
                }
                &:read-only {
                    background: #ffe95b;
                    border: 1px solid #ffe95b;
                }
            }
            textarea.form-control {
                padding-top: 15px;
                padding-bottom: 15px;
            }
            .message-reciever {
                display: flex;
                margin-left: -5px;
                margin-right: -5px;
                .form-control.name {
                    width: 105px;
                }
                .btn-delete-contact {
                    // margin: 0 0 0 10px;
                    padding: 0;
                    border: 0;
                    width: 39px;
                    height: 39px;
                    border-radius: 15px;
                    background: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 9px;
                    }
                }
            }
            .message-help {
                padding-left: 10px;
                padding-right: 10px;
                color: #666;
                letter-spacing: -1px;
                font-size: 12px;
                line-height: 16px;
            }
            .message-row {
                padding-top: 5px;
                padding-bottom: 5px;
            }
            .message-col {
                padding-left: 5px;
                padding-right: 5px;
            }
            .message-bytes {
                padding-bottom: 10px;
                padding-right: 13px;
                text-align: right;
                font-size: 12px;
                color: #999;
                i {
                    font-style: normal;
                    color: #F36C58;
                }
            }
            .message-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 13px;
                padding-left: 13px;
                padding-right: 13px;
                height: 45px;
                h4 {
                    margin: 0;
                    font-size: 12px;
                    color: #666;
                    font-weight: normal;
                }
                .btn {
                    display: flex;
                    align-items: center;
                    padding: 0;
                    border: 0;
                    font-size: 12px;
                    color: #999;
                    text-decoration: none;
                    img {
                        margin-right: 5px;
                        height: 14px;
                    }
                }
                .phone {
                    font-size: 12px;
                    color: #666;
                }
            }
            .message-body {
                .preview {
                    margin-bottom: 10px;
                    background-color: #fff;
                    border-radius: 15px;
                    padding-left: 15px;
                    padding-right: 15px;
                    .preview-body {
                        padding-top: 28px;
                        min-height: 120px;
                        color: #666;
                        font-size: 16px;
                        line-height: 30px;
                        font-weight: 900;
                        text-align: center;
                        background-image: url(/images/bg_message_preview.gif);
                        background-repeat: repeat-x;
                        background-size: auto 100%;
                    }
                }
            }
        }
    }
    .action {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 64px;
        border-top: 1px solid #e9e9e9;
        background: #fff;
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        .btn {
            flex: 1;
            height: 40px;
            margin-right: 5px;
            margin-left: 5px;
            border-radius: 20px;
            border: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $kc;
            color: $kc;
            font-size: 14px;
            box-shadow: none;
            &.on {
                background: $kc;
                color: #fff !important;
            }
        }
    }
    .pay-info {
        padding: 18px 15px;
        dl {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0 15px;
            height: 50px;
            dt, dd {
                font-size: 12px;
            }
            dt {
                color: #666;
                font-weight: normal;
            }
            dd {
                margin: 0;
                padding: 0;
                color: #333;
                b {
                    font-weight: 900;
                }
                i {
                    font-style: normal;
                    font-weight: 900;
                    color: $kc;
                }
            }
            & + dl {
                border-top: 1px solid #e9e9e9;
            }
        }
    }
    .agree {
        margin-bottom: 25px;
        padding: 0 15px;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 25px;
                label {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0;
                    font-size: 10px;
                    color: #666;
                    input[type="checkbox"] + span {
                        margin-right: 10px;
                        width: 20px;
                        height: 20px;
                        background-image: url(/images/ico_checkbox.png);
                        background-repeat: no-repeat;
                        background-size: 100% auto;
                    }
                    input[type="checkbox"]:checked + span {
                        background-position: 0 -20px;
                    }
                }
                .btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    width: 80px;
                    height: 25px;
                    border: 1px solid #e9e9e9;
                    border-radius: 13px;
                    font-size: 10px;
                    color: #666;
                    box-shadow: none;
                    text-decoration: none;
                }
                & + li {
                    margin-top: 8px;
                }
            }
        }
    }
    .complete {
        padding: 15px;
        .complete-title {
            margin: 15px 0 25px 0;
            font-size: 16px;
            color: $kc;
            font-weight: 900;
            text-align: center;
        }
        .complete-body {
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    position: relative;
                    padding-left: 10px;
                    line-height: 15px;
                    color: #999;
                    &:before {
                        content: "·";
                        position: absolute;
                        left: 0;
                    }
                    i {
                        font-style: normal;
                        color: #333;
                    }
                    & + li {
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}

#modal-select-contact {
    .modal-dialog {
        display: flex;
        align-items: center;
        padding: 30px;
        margin: 0;
        height: 100%;
        max-width: none;
    }
    .modal-content {
        overflow: hidden;
        border: 0;
        border-radius: 15px;
    }
    .modal-header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 61px;
        border-bottom: 1px solid #fbe032;
        .modal-title {
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 900;
        }
    }
    .modal-footer {
        overflow: hidden;
        padding: 0;
        height: 48px;
        border: 0;
        .btn {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            height: 100%;
            box-shadow: none;
            font-size: 14px;
            border-radius: 0;
        }
        .btn-cancel {
            background: #e9e9e9;
            color: $kc;
        }
        .btn-ok {
            background: $kc;
            color: #fff;
        }
    }
    .modal-body {
        overflow: auto;
        padding: 0;
        height: 280px;
        .help {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100px;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            margin-bottom: 0;
            color: #666;
        }
        .contact-table {
            .contact-header {
                height: 23px;
                background: #e9e9e9;
                font-size: 10px;
                color: #666;
                [role="row"] {
                    display: flex;
                    height: 100%;
                    [role="columnheader"] {
                        display: flex;
                        height: 100%;
                        align-items: center;
                        justify-content: center;
                    }
                    .name {
                        flex: 1;
                    }
                    .nickname {
                        width: 105px;
                    }
                }
            }
            .contact-body {
                padding-left: 15px;
                padding-right: 15px;
                [role="row"] {
                    display: flex;
                    margin-bottom: 0;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    width: 100%;
                    color: #666;
                    & + [role="row"] {
                        border-top: 1px solid #e9e9e9;
                    }
                    .name {
                        flex: 1;
                        display: flex;
                        input[type="radio"] {
                            & + .check {
                                width: 20px;
                                height: 20px;
                                background-image: url(/images/ico_checkbox.png);
                                background-size: 100% auto;
                                background-repeat: no-repeat;
                            }
                            &:checked {
                                & + .check {
                                    background-position: 0 -20px;
                                }
                                & ~ .info {
                                    .username {
                                        color: $kc;
                                    }
                                }
                            }
                        }
                        .info {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            padding-left: 10px;
                            .username {
                                margin-bottom: 5px;
                                line-height: 20px;
                                color: #333;
                            }
                            .email {
                                font-size: 10px;
                            }
                        }
                    }
                    .nickname {
                        width: 75px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.history {
    padding-top: 30px;
    .no-data {
        height: calc(100% - 62px - 30px - 30px - 40px - 62px);
    }
    .history-list {
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }
        li {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .history-item {
        overflow: hidden;
        display: flex;
        background: #fff;
        border-radius: 15px;
        margin-bottom: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        text-decoration: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        .history-image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 120px;
            img {
                width: 100%;
            }
        }
        .history-body {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .history-category {
                margin: 0 0 5px 0;
                font-size: 10px;
                color: #999;
                font-weight: 900;
                span {
                    color: #003da6;
                }
            }
            .history-title {
                margin: 0 0 5px 0;
                font-size: 13px;
                color: #333;
                font-weight: 900;
            }
            .history-phone {
                margin-bottom: 5px;
                color: #666;
                font-size: 10px;
            }
            .history-expire {
                display: flex;
                margin-bottom: 10px;
                color: #666;
                font-size: 10px;
                .d-day {
                    margin-left: 10px;
                    padding-left: 8px;
                    padding-right: 8px;
                    height: 15px;
                    background: #ffd427;
                    font-size: 10px;
                    color: #333;
                    border-radius: 8px;
                }
            }
            .history-price {
                display: flex;
                align-items: center;
                color: #999;
                font-size: 11px;
                line-height: 11px;
                span {
                    margin-right: 5px;
                }
                b {
                    font-size: 14px;
                    color: $kc;
                    font-weight: 900;
                }
            }
        }
    }
}

#main.history {
    background: #e9e9e9;
    &:before {
        margin-top: -1px;
        display: block;
        width: 100%;
        height: 1px;
        content: ' ';
    }
}

#main.history-details {
    .product {
        padding: 15px;
        background: #e9e9e9;
        .product-wrapper {
            position: relative;
        }
        .product-header {
            padding: 18px;
            z-index: 1;
            position: relative;
            min-height: 50px;
            border-radius: 15px;
            background: #fff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .product-image {
            display: flex;
            align-items: center;
            justify-content: center;
//             width: 60.1388888889vw;
//             height: 37.5vw;
            width: 216px;
            height: 135px;
            img {
                height: 100%;
            }
        }
        .product-title {
            margin-top: 10px;
            margin-bottom: 0;
            font-size: 16px;
            color: #333;
            font-weight: 900;
        }
        .order-info {
            position: relative;
            // height: 135px;
            border-radius: 20px;
            background: #fff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .order-info-wrapper {
            z-index: 1;
            position: relative;
            bottom: 0;
            left: 0;
            width: 100%;
            //height: 100%;
            border-radius: 20px;
            background: #fff;
            // padding-left: 30px;
            // padding-right: 30px;
            padding: 20px 30px;
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: center;
            border-top: 1px dashed #b6e0fd;
            dl {
                margin: 0;
                display: flex;
                dt, dd {
                    margin: 0;
                    font-size: 12px;
                }
                dt {
                    color: #666;
                    width: 68px;
                    font-weight: normal;
                }
                dd {
                    color: #333;
                    word-break: break-all;
                    width: calc(100% - 68px);
                    b {
                        font-weight: 900;
                    }
                    i {
                        color: $kc;
                        font-weight: 900;
                        font-style: normal;
                    }
                }
                & + dl {
                    margin-top: 3px;
                }
            }
        }
    }
    .message {
        padding: 0 15px 15px 15px;
        background: #e9e9e9;
        .message-wrapper {
            padding-left: 15px;
            padding-right: 15px;
            background: #fbe032;
            border-radius: 13px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            .message-row {
                padding-top: 5px;
                padding-bottom: 5px;
            }
            .message-col {
                padding-left: 5px;
                padding-right: 5px;
            }
            .message-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 13px;
                padding-left: 13px;
                padding-right: 13px;
                height: 45px;
                h4 {
                    margin: 0;
                    font-size: 12px;
                    color: #666;
                    font-weight: normal;
                }
                .phone {
                    font-size: 12px;
                }
            }
            .message-body {
                .preview {
                    margin-bottom: 10px;
                    background-color: #fff;
                    border-radius: 15px;
                    padding-left: 15px;
                    padding-right: 15px;
                    .preview-body {
                        padding-top: 28px;
                        min-height: 120px;
                        color: #666;
                        font-size: 16px;
                        line-height: 30px;
                        font-weight: 900;
                        text-align: center;
                        background-image: url(/images/bg_message_preview.gif);
                        background-repeat: repeat-x;
                        background-size: auto 100%;
                    }
                }
            }
        }
    }
    .company {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 12px;
        line-height: 18px;
        color: #666;
        margin-top: -1px;
        // border-top: 1px solid #e9e9e9;
        h5 {
            font-size: 12px;
        }
        p {
            margin: 0;
        }
        a {
            border-bottom: 1px solid #a7a7a7;
            text-decoration: none;
            color: #a7a7a7;
        }
        .bar {
            margin-left: 8px;
            margin-right: 8px;
            width: 1px;
            height: 8px;
            background: #b8b8b8;
        }
        .cs {
            display: flex;
            align-items: center;
        }
        .terms {
            display: flex;
            align-items: center;
        }
        dl {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            dt, dd {
                margin: 0;
                font-weight: normal;
            }
            dt {
                &:after {
                    margin-right: 3px;
                    content: ':';
                }
            }
        }
        address {
            margin: 0;
        }
    }
    .action {
        // position: fixed;
        // bottom: 0;
        // left: 0;
        border-top: 1px solid #f3f3f3;
        padding-top: 30px;
        padding-bottom: 15px;
        width: 100%;
        // height: 64px;
        border-top: 1px solid #e9e9e9;
        background: #fff;
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        .btn {
            flex: 1;
            height: 40px;
            margin-right: 5px;
            margin-left: 5px;
            border-radius: 20px;
            border: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            box-shadow: none;
        }
        .btn-product-details {
            background: $kc;
            color: #fff !important;
        }
        .btn {
            border: 1px solid $kc;
            color: $kc;
        }
    }
    .details {
        .details-desc {
            border-bottom: 1px solid #dbdbdb;
            .btn[data-toggle="collapse"] {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 15px 0 30px;
                margin: 0;
                width: 100%;
                height: 47px;
                background: #e9e9e9;
                box-shadow: none;
                color: #333;
                font-size: 14px;
                border-radius: 0;
                border: 0;
                span {
                    width: 9px;
                    height: 6px;
                    transform: rotate(180deg);
                    background-image: url(/images/ico_arrow_down.png);
                    background-size: 100% auto;
                    background-repeat: no-repeat;
                }
                &.collapsed {
                    span {
                        transform: rotate(0deg);
                    }
                }
            }
            &.details-notice {
                // border-top: 1px solid #dbdbdb;
            }
            .details-body {
                padding: 30px 30px;
                color: #666;
                font-size: 12px;
                line-height: 16px;
                p {
                    position: relative;
                    padding-left: 6px;
                    margin-bottom: 0;
                    &:before {
                        content: '-';
                        position: absolute;
                        left: 0;
                    }
                }
            }
        }
    }
    .pay-info {
        padding: 0 15px;
        dl {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0 15px;
            height: 50px;
            dt, dd {
                font-size: 12px;
            }
            dt {
                color: #666;
                font-weight: normal;
            }
            dd {
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;
                color: #333;
                b {
                    font-weight: 900;
                }
                i {
                    font-style: normal;
                    font-weight: 900;
                    color: $kc;
                }
            }
            & + dl {
                border-top: 1px solid #e9e9e9;
            }
            .btn-copy {
                margin-left: 10px;
                padding: 0 11px;
                border: 1px solid black;
                height: 22px;
                border-radius: 11px;
                border: 1px solid #666666;
                font-size: 10px;
                line-height: 10px;
                color: #666666;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: none;
            }
        }
    }
}

#main.terms {
    padding: 25px;
    color: #666;
    font-size: 12px;
    line-height: 18px;
}

.alert-modal {
    .modal-dialog {
        display: flex;
        align-items: center;
        padding: 30px;
        margin: 0;
        height: 100%;
        max-width: none;
    }
    .modal-content {
        border: 0;
        border-radius: 15px;
        .btn-close {
            display: flex;
            align-items: center;
            position: absolute;
            top: -23px;
            right: 0;
            color: #fff;
            font-size: 11px;
            line-height: 11px;
            text-decoration: none;
            img {
                margin-top: 1px;
                margin-right: 5px;
                width: 8px;
                height: 8px;
            }
        }
        .btn-not-today {
            position: absolute;
            bottom: -25px;
            left: 0;
            color: #fff;
            font-size: 11px;
            line-height: 11px;
            color: #d1d1d1;
            text-decoration: none;
        }
    }
    .modal-header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 61px;
        border-bottom: 1px solid #fbe032;
        .modal-title {
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 900;
        }
    }
    .modal-footer {
        position: relative;
        padding: 0;
        height: 48px;
        border: 0;
        .btn {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
            border: 0;
            height: 100%;
            box-shadow: none;
            font-size: 14px;
            border-radius: 0;
        }
        .btn-cancel {
            background: #e9e9e9;
            color: $kc;
        }
        .btn-ok {
            background: $kc;
            color: #fff;
        }
        .btn:first-child {
            border-bottom-left-radius: 15px;
        }
        .btn:last-child {
            border-bottom-right-radius: 15px;
        }
    }
    .modal-body {
        overflow: auto;
        padding: 0;
    }
    div.message {
        padding: 23px 38px;
        color: #666;
        
        .message-header {
            text-align: center;
            h5 {
                margin: 0 0 15px;
                font-size: 14px;
                font-weight: normal;
            }
        }
        .message-body {
            font-size: 12px;
            line-height: 18px;
            h6 {
                margin: 0;
                font-size: 12px;
                line-height: 18px;
            }
            p {
                margin: 0;
            }
        }
    }
    p.message {
        margin: 0;
        padding: 20px 30px;
        font-size: 14px;
        color: #666;
        letter-spacing: -1px;
        text-align: center;
    }
}

#refund-amount {
    .help {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 115px;
        h5, p {
            margin: 0;
        }
        h5 {
            margin-bottom: 15px;
            font-size: 16px;
            color: $kc;
            font-weight: 900;
            letter-spacing: -1px;
        }
        p {
            font-size: 14px;
            line-height: 20px;
            color: #666;
            text-align: center;
        }
    }
    .tbl {
        .tbl-header {
            height: 23px;
            background: #e9e9e9;
            font-size: 10px;
            color: #666;
            [role="row"] {
                display: flex;
                height: 100%;
                [role="columnheader"] {
                    display: flex;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                }
                .pay-type {
                    flex: 1;
                    text-align: center;
                }
                .price {
                    width: 100px;
                    text-align: center;
                }
            }
        }
        .tbl-body {
            [role="row"] {
                display: flex;
                margin-bottom: 0;
                padding-top: 10px;
                padding-bottom: 10px;
                width: 100%;
                color: #666;
                border-bottom: 1px solid #e9e9e9;
                font-size: 12px;
                .pay-type {
                    padding-left: 23px;
                    padding-right: 23px;
                    flex: 1;
                }
                .price {
                    width: 100px;
                    text-align: center;
                }
            }
        }
    }
    .notice {
        padding: 18px 23px;
        h5, p {
            margin: 0;
            font-size: 12px;
            line-height: 18px !important;
            color: #666;
        }
        h5 {
            font-weight: 900;
        }
    }
    .modal-body {
        max-height: 280px;
    }
}

#main.error {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    .logo {
        display: flex;
        align-items: center;
        margin: 0;
        position: absolute;
        top: 85px;
        img {
            width: 120px;
        }
    }
    .error-message {
        p {
            margin: 0 0 10px 0;
            text-align: center;
            font-size: 12px;
            color: #666;
            b {
                font-size: 22px;
                color: $kc;
                font-weight: 900;
            }
        }
    }
    .btn-home {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 135px;
        height: 40px;
        background: $kc;
        color: #fff;
        font-size: 14px;
        border-radius: 20px;
    }
}

.timedeal-modal {
    .swiper-pagination {
        display: flex;
        justify-content: center;
        height: 8px;
        bottom: 15px !important;
        .swiper-pagination-bullet {
            margin: 0 5px;
            width: 8px;
            height: 8px;
            background: #b7b7b7;
            opacity: .6;
        }
        .swiper-pagination-bullet-active {
            background: #b7b7b7;
            opacity: 1;
        }
    }
}
.timedeal-modal.module-type {
    .modal-dialog {
        justify-content: center;
        padding: 0;
        background: rgba(#000, .6);
    }
    .modal-content {
        width: 310px;
        background: transparent;
        .btn-close {
            top: 3px;
        }
    }
    .modal-header {
        height: auto;
        padding: 0;
    }
    .modal-title {
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        img {
            width: 100%;
        }
    }
    .modal-body {
        background: #fff;
        .timedeal-expire {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $kc;
            color: #fff;
            font-size: 12px;
            height: 26px;
            img {
                margin-right: 5px;
                width: 11px;
                height: 11px;
            }
        }
        .swiper-slide {
            height: 230px;
            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                text-decoration: none;
            }
            .product-image {
                margin-bottom: 15px;
                width: 175px;
                height: 110px;
                img {
                    height: 100%;
                }
            }
            .product-title {
                margin-bottom: 5px;
                font-size: 15px;
                color: #333;
            }
            .product-price {
                margin-bottom: 30px;
                display: flex;
                align-items: center;
                font-size: 16px;
                color: $kc;
                font-weight: bold;
                letter-spacing: -1px;
                s {
                    margin-left: 8px;
                    color: #b2b2b2;
                    font-size: 12px;
                    font-weight: normal;
                }
            }
        }
        
    }
    .modal-footer {
        .btn {
            border-color: $kc;
        }
    }
}

@media (min-height: 717px) { // 윈도우 높이가 717px 이상 일 때
    #main.main {
        #exchange {
            .category-list {
                height: 248px;
                ul {
                    li {
                        padding-bottom: 28px;
                        a {
                            padding-top: 18px;
                        }
                    }
                }
            }
        }
    }
}