@charset "UTF-8";
/* 메인 페이지 관련 */
.main {
  position: relative;
  height: calc(100% - 17.2222222222vw);
}
.main .tab-content {
  position: relative;
  height: calc(100% - 15vw);
}
.main .top-banner {
  height: 30.5555555556vw;
}
.main .top-banner .swiper-slide img {
  width: 100%;
}
.main .top-banner .swiper-pagination {
  display: flex;
  justify-content: center;
  bottom: 5.2777777778vw;
}
.main .top-banner .swiper-pagination-bullet {
  margin-left: 1.3888888889vw;
  margin-right: 1.3888888889vw;
  width: 2.2222222222vw;
  height: 2.2222222222vw;
  background: rgba(255, 255, 255, 0.6);
  opacity: 1;
}
.main .top-banner .swiper-pagination-bullet-active {
  background: #fff;
}
.main .bottom-banner {
  height: 15vw;
}
.main .bottom-banner .swiper-slide img {
  width: 100%;
}
.main .bottom-banner .swiper-pagination {
  display: flex;
  justify-content: center;
  bottom: 1.6666666667vw;
}
.main .bottom-banner .swiper-pagination-bullet {
  margin-left: 1.1111111111vw;
  margin-right: 1.1111111111vw;
  width: 1.1111111111vw;
  height: 1.1111111111vw;
  background: rgba(255, 255, 255, 0.6);
  opacity: 1;
}
.main .bottom-banner .swiper-pagination-bullet-active {
  background: #fff;
}
.main .section {
  background: #fff;
}
.main .section-title {
  flex: 1;
  margin: 0;
  font-size: 3.6111111111vw;
  color: #333;
}
.main .section-more {
  width: 1.5277777778vw;
}
.main .section-titlebar {
  height: 11.6666666667vw;
}
.main .section-titlebar a {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 4.1666666667vw;
  padding-right: 4.1666666667vw;
  text-decoration: none;
}
.main .product-list {
  overflow: auto;
}
.main .product-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 187.5vw;
}
.main .product-list li {
  margin: 0;
  padding: 0;
  float: left;
  width: 37.5vw;
}
.main #exchange {
  position: relative;
  height: 100%;
}
.main #exchange .section + .section {
  margin-top: 1.3888888889vw;
}
.main #exchange .product-list {
  height: 52.0833333333vw;
}
.main #exchange .product-list li {
  height: 52.0833333333vw;
}
.main #exchange .product-list .product-item .product-body {
  padding-bottom: 3.4722222222vw;
  height: 28.4722222222vw;
}
.main #exchange .section.category {
  position: relative;
  height: calc(100% - 30.5555555556vw - 11.6666666667vw - 52.0833333333vw - 1.3888888889vw - 15vw);
}
.main #exchange .category-list {
  overflow: auto;
  position: relative;
  height: calc(100% - 11.6666666667vw);
}
.main #exchange .category-list ul {
  position: relative;
  overflow: hidden;
  width: calc(30.5555555556vw * 6);
  height: 100%;
  margin: 0;
  padding: 0 0 4.8611111111vw 0;
  list-style: none;
}
.main #exchange .category-list ul li {
  float: left;
  width: 30.5555555556vw;
  height: 100%;
}
.main #exchange .category-list ul li + li {
  border-left: 0.1388888889vw solid #e9e9e9;
}
.main #exchange .category-list ul li a {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.main #exchange .category-list ul li a p {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14.8611111111vw;
  height: 14.8611111111vw;
  margin-bottom: 1.3888888889vw;
}
.main #exchange .category-list ul li a p img {
  width: 100%;
}
.main #exchange .category-list ul li a span {
  font-size: 3.3333333333vw;
  color: #333;
}
.main #voucher .section .section-titlebar {
  border-bottom: 0.2777777778vw solid #e9e9e9;
}
.main #voucher .section.top5 .section-titlebar {
  border-bottom: 0;
}

#main.promotion .sorter,
#main.voucher .sorter {
  margin-bottom: 6.9444444444vw;
}
#main.promotion .product-list ul,
#main.voucher .product-list ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 2.0833333333vw 2.0833333333vw;
  list-style: none;
}
#main.promotion .product-list li,
#main.voucher .product-list li {
  padding: 2.0833333333vw;
  width: 50%;
}
#main.promotion .product-list li .product-item,
#main.voucher .product-list li .product-item {
  box-shadow: 0px 0.6944444444vw 2.7708333333vw 0.1458333333vw rgba(0, 0, 0, 0.1);
}
#main.promotion .product-list li .product-image,
#main.voucher .product-list li .product-image {
  margin-top: 3.3333333333vw;
  margin-left: 3.3333333333vw;
  margin-right: 3.3333333333vw;
}
#main.promotion .product-list li .flag,
#main.voucher .product-list li .flag {
  top: 1.3888888889vw;
  right: 1.3888888889vw;
}

#main.product-details {
  padding-bottom: 17.6388888889vw;
}
#main.product-details .coupon {
  padding: 4.1666666667vw;
  background: #e9e9e9;
}
#main.product-details .coupon .coupon-wrapper {
  position: relative;
}
#main.product-details .coupon .coupon-wrapper .flag {
  z-index: 1;
  position: absolute;
  top: 5.5555555556vw;
  right: 5.5555555556vw;
  width: 9.7222222222vw;
  height: 9.7222222222vw;
}
#main.product-details .coupon .coupon-wrapper .flag b {
  font-size: 3.8888888889vw;
}
#main.product-details .coupon .coupon-wrapper .flag small {
  font-size: 2.7777777778vw;
}
#main.product-details .coupon .coupon-info {
  padding: 4.8611111111vw;
  z-index: 1;
  position: relative;
  min-height: 13.8888888889vw;
  border-radius: 4.1666666667vw;
  background: #fff;
  box-shadow: 0px 0.6944444444vw 2.7708333333vw 0.1458333333vw rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main.product-details .coupon .coupon-info .coupon-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60.1388888889vw;
  height: 37.5vw;
}
#main.product-details .coupon .coupon-info .coupon-image img {
  height: 100%;
}
#main.product-details .coupon .coupon-info .coupon-title {
  margin: 2.7777777778vw 0 0;
  font-size: 4.1666666667vw;
  line-height: 6.9444444444vw;
  color: #333;
}
#main.product-details .coupon .coupon-info .coupon-price {
  position: relative;
  margin: 0;
  font-weight: 900;
  color: #003da6;
  font-size: 4.4444444444vw;
  line-height: 6.9444444444vw;
}
#main.product-details .coupon .coupon-info .coupon-price s {
  color: #b2b2b2;
  font-size: 3.3333333333vw;
  font-weight: normal;
}
#main.product-details .coupon .coupon-info .coupon-help {
  margin: 0;
  font-size: 2.7777777778vw;
  line-height: 5.5555555556vw;
  color: #b2b2b2;
}
#main.product-details .coupon .coupon-share {
  position: relative;
  height: 17.7777777778vw;
  border-radius: 5.5555555556vw;
  background: #fff;
  box-shadow: 0px 0.6944444444vw 2.7708333333vw 0.1458333333vw rgba(0, 0, 0, 0.1);
}
#main.product-details .coupon .coupon-share-wrapper {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5.5555555556vw;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.2777777778vw dashed #b6e0fd;
}
#main.product-details .coupon .coupon-share-wrapper .btns {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 9.7222222222vw;
  width: 87.5vw;
}
#main.product-details .coupon .coupon-share-wrapper .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 0;
  border: 0;
  box-shadow: none;
}
#main.product-details .coupon .coupon-share-wrapper .btn + .btn {
  border-left: 0.2777777778vw solid #f2f2f2;
}
#main.product-details .coupon .coupon-share-wrapper .btn-kakaotalk img {
  margin-top: 0.4166666667vw;
  height: 6.9444444444vw;
}
#main.product-details .coupon .coupon-share-wrapper .btn-facebook img {
  height: 6.1111111111vw;
}
#main.product-details .coupon .coupon-share-wrapper .btn-twitter img {
  height: 5.5555555556vw;
}
#main.product-details .company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 27.7777777778vw;
  padding-left: 8.3333333333vw;
  padding-right: 8.3333333333vw;
  font-size: 3.3333333333vw;
  line-height: 4.8611111111vw;
  color: #666;
  margin-top: -0.2777777778vw;
}
#main.product-details .company h5 {
  font-size: 3.3333333333vw;
}
#main.product-details .company p {
  margin: 0;
}
#main.product-details .company a {
  border-bottom: 0.2777777778vw solid #a7a7a7;
  text-decoration: none;
  color: #a7a7a7;
}
#main.product-details .company .bar {
  margin-left: 2.0833333333vw;
  margin-right: 2.0833333333vw;
  width: 1px;
  height: 2.3611111111vw;
  background: #b8b8b8;
}
#main.product-details .company .cs {
  display: flex;
  align-items: center;
}
#main.product-details .company .terms {
  display: flex;
  align-items: center;
}
#main.product-details .action {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 17.6388888889vw;
  border-top: 0.2777777778vw solid #e9e9e9;
  background: #fff;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
#main.product-details .action .btn {
  flex: 1;
  height: 11.1111111111vw;
  margin-right: 1.3888888889vw;
  margin-left: 1.3888888889vw;
  border-radius: 5.5555555556vw;
}
#main.product-details .action .btn-gift-to-me {
  background: #003da6;
  color: #fff !important;
}
#main.product-details .action .btn {
  border: 1px solid #003da6;
  color: #003da6;
}
#main.product-details .details .details-image img {
  width: 100%;
}
#main.product-details .details .details-desc {
  border-bottom: 1px solid #dbdbdb;
}
#main.product-details .details .details-desc .btn[data-toggle=collapse] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.1666666667vw 0 8.3333333333vw;
  margin: 0;
  width: 100%;
  height: 13.0555555556vw;
  background: #e9e9e9;
  box-shadow: none;
  color: #333;
  font-size: 3.8888888889vw;
  border-radius: 0;
  border: 0;
}
#main.product-details .details .details-desc .btn[data-toggle=collapse] span {
  width: 2.5vw;
  height: 1.5277777778vw;
  transform: rotate(180deg);
  background-image: url(/images/ico_arrow_down.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
#main.product-details .details .details-desc .btn[data-toggle=collapse].collapsed span {
  transform: rotate(0deg);
}
#main.product-details .details .details-desc .details-body {
  padding: 5.5555555556vw 8.3333333333vw;
  color: #666;
  font-size: 3.3333333333vw;
  line-height: 5.2777777778vw;
}
#main.product-details .price-tag {
  opacity: 0;
  z-index: 2;
  position: fixed;
  top: 17.2222222222vw;
  left: 0;
  padding-left: 4.1666666667vw;
  padding-right: 4.1666666667vw;
  width: 100%;
  height: 13.3333333333vw;
  display: flex;
  align-items: center;
  border-bottom: 0.2777777778vw solid #e9e9e9;
  background: #fff;
  transition: opacity 0.3s;
}
#main.product-details .price-tag.show {
  opacity: 1;
}
#main.product-details .price-tag dl {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main.product-details .price-tag dl dt, #main.product-details .price-tag dl dd {
  margin: 0;
  padding: 0;
}
#main.product-details .price-tag dl dt {
  font-size: 3.8888888889vw;
  font-weight: normal;
}
#main.product-details .price-tag dl dd {
  display: flex;
  align-items: center;
  font-size: 4.1666666667vw;
  color: #003da6;
  font-weight: 900;
  letter-spacing: -0.2777777778vw;
}
#main.product-details .price-tag dl dd s {
  margin-left: 2.0833333333vw;
  font-size: 3.3333333333vw;
  color: #b2b2b2;
  font-weight: normal;
}

/*# sourceMappingURL=style.css.map */
