@charset "UTF-8";
/* 메인 페이지 관련 */
#main.main {
  position: relative;
  height: calc(100% - 62px);
  padding-top: 48px;
}
#main.main .tab-content {
  position: relative;
  height: 100%;
}
#main.main .top-banner .swiper-slide img {
  width: 100%;
}
#main.main .top-banner .swiper-pagination {
  display: flex;
  justify-content: center;
  bottom: 19px;
}
#main.main .top-banner .swiper-pagination-bullet {
  margin-left: 5px;
  margin-right: 5px;
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.6);
  opacity: 1;
}
#main.main .top-banner .swiper-pagination-bullet-active {
  background: #fff;
}
#main.main .bottom-banner {
  height: 54px;
}
#main.main .bottom-banner .swiper-slide img {
  width: 100%;
}
#main.main .bottom-banner .swiper-pagination {
  display: flex;
  justify-content: center;
  bottom: 6px;
}
#main.main .bottom-banner .swiper-pagination-bullet {
  margin-left: 4px;
  margin-right: 4px;
  width: 4px;
  height: 4px;
  background: rgba(255, 255, 255, 0.6);
  opacity: 1;
}
#main.main .bottom-banner .swiper-pagination-bullet-active {
  background: #fff;
}
#main.main .section {
  background: #fff;
}
#main.main .section-title {
  flex: 1;
  margin: 0;
  font-size: 13px;
  color: #333;
}
#main.main .section-more {
  width: 6px;
}
#main.main .section-titlebar {
  height: 42px;
}
#main.main .section-titlebar a {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
}
#main.main .product-list {
  overflow: auto;
}
#main.main .product-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 675px;
}
#main.main .product-list li {
  margin: 0;
  padding: 0;
  float: left;
  width: 135px;
}
#main.main #exchange {
  position: relative;
  height: 100%;
  background: #e9e9e9;
}
#main.main #exchange .section + .section {
  margin-top: 5px;
}
#main.main #exchange .category-list {
  overflow: auto;
  position: relative;
  height: 214px;
}
#main.main #exchange .category-list ul {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}
#main.main #exchange .category-list ul li {
  float: left;
  width: 33.33%;
  height: 100%;
  padding: 0 0 20px 0;
}
#main.main #exchange .category-list ul li + li a {
  border-left: 1px solid #e9e9e9;
}
#main.main #exchange .category-list ul li a {
  padding-top: 10px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
#main.main #exchange .category-list ul li a p {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  margin-bottom: 5px;
}
#main.main #exchange .category-list ul li a p img {
  width: 100%;
}
#main.main #exchange .category-list ul li a span {
  font-size: 12px;
  color: #333;
  text-align: center;
}
#main.main #voucher .section .section-titlebar {
  border-bottom: 1px solid #e9e9e9;
}
#main.main #voucher .section.top5 .section-titlebar {
  border-bottom: 0;
}

#main.promotion,
#main.voucher {
  padding-top: 78px;
}
#main.promotion .no-data,
#main.voucher .no-data {
  height: calc(100% - 62px - 30px - 30px - 40px - 62px - 48px);
}

#main.recommend {
  padding-top: 30px;
}
#main.recommend .no-data {
  height: calc(100% - 62px - 30px - 30px - 40px - 62px);
}

#main.recommend,
#main.promotion,
#main.voucher {
  background: #e9e9e9;
}
#main.recommend:before, #main.recommend:after,
#main.promotion:before,
#main.promotion:after,
#main.voucher:before,
#main.voucher:after {
  content: " ";
  display: flex;
}
#main.recommend .sorter,
#main.promotion .sorter,
#main.voucher .sorter {
  margin-bottom: 25px;
}
#main.recommend .product-list ul,
#main.promotion .product-list ul,
#main.voucher .product-list ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 8px 8px;
  list-style: none;
}
#main.recommend .product-list li,
#main.promotion .product-list li,
#main.voucher .product-list li {
  padding: 8px;
  width: 50%;
}
#main.recommend .product-list li .product-item,
#main.promotion .product-list li .product-item,
#main.voucher .product-list li .product-item {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#main.recommend .product-list li .product-image,
#main.promotion .product-list li .product-image,
#main.voucher .product-list li .product-image {
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
}
#main.recommend .product-list li .flag,
#main.promotion .product-list li .flag,
#main.voucher .product-list li .flag {
  top: 5px;
  right: 5px;
}
#main.recommend #category-list,
#main.promotion #category-list,
#main.voucher #category-list {
  background: rgba(0, 0, 0, 0.6);
}
#main.recommend #category-list .modal-header .modal-title,
#main.promotion #category-list .modal-header .modal-title,
#main.voucher #category-list .modal-header .modal-title {
  font-size: 16px;
}
#main.recommend #category-list .modal-body ul,
#main.promotion #category-list .modal-body ul,
#main.voucher #category-list .modal-body ul {
  list-style: none;
  padding: 0 15px;
  margin: 0;
}
#main.recommend #category-list .modal-body ul li + li,
#main.promotion #category-list .modal-body ul li + li,
#main.voucher #category-list .modal-body ul li + li {
  border-top: 1px solid #e9e9e9;
}
#main.recommend #category-list .modal-body ul li a,
#main.promotion #category-list .modal-body ul li a,
#main.voucher #category-list .modal-body ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  font-size: 16px;
  color: #333;
  text-decoration: none;
}
#main.recommend #category-list .modal-body ul li a.active,
#main.promotion #category-list .modal-body ul li a.active,
#main.voucher #category-list .modal-body ul li a.active {
  font-weight: bold;
  color: #003da6;
}

#main.product-details {
  padding-bottom: 64px;
}
#main.product-details .coupon {
  padding: 15px;
  background: #e9e9e9;
}
#main.product-details .coupon .coupon-wrapper {
  position: relative;
}
#main.product-details .coupon .coupon-wrapper .flag {
  z-index: 1;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
}
#main.product-details .coupon .coupon-wrapper .flag b {
  font-size: 14px;
}
#main.product-details .coupon .coupon-wrapper .flag small {
  font-size: 10px;
}
#main.product-details .coupon .coupon-info {
  padding: 18px;
  z-index: 1;
  position: relative;
  min-height: 50px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main.product-details .coupon .coupon-info .coupon-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 216px;
  height: 135px;
}
#main.product-details .coupon .coupon-info .coupon-image img {
  height: 100%;
}
#main.product-details .coupon .coupon-info .coupon-title {
  margin: 10px 0 0;
  font-size: 15px;
  line-height: 25px;
  color: #333;
}
#main.product-details .coupon .coupon-info .coupon-price {
  position: relative;
  margin: 0;
  font-weight: 900;
  color: #003da6;
  font-size: 16px;
  line-height: 25px;
}
#main.product-details .coupon .coupon-info .coupon-price s {
  color: #b2b2b2;
  font-size: 12px;
  font-weight: normal;
}
#main.product-details .coupon .coupon-info .coupon-help {
  margin: 0;
  font-size: 10px;
  line-height: 20px;
  color: #b2b2b2;
}
#main.product-details .coupon .coupon-share {
  position: relative;
  height: 64px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#main.product-details .coupon .coupon-share-wrapper {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px dashed #b6e0fd;
}
#main.product-details .coupon .coupon-share-wrapper .btns {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 35px;
  width: 315px;
}
#main.product-details .coupon .coupon-share-wrapper .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 0;
  border: 0;
  box-shadow: none;
}
#main.product-details .coupon .coupon-share-wrapper .btn + .btn {
  border-left: 1px solid #f2f2f2;
}
#main.product-details .coupon .coupon-share-wrapper .btn-kakaotalk img {
  margin-top: 2px;
  height: 25px;
}
#main.product-details .coupon .coupon-share-wrapper .btn-facebook img {
  height: 22px;
}
#main.product-details .coupon .coupon-share-wrapper .btn-twitter img {
  height: 20px;
}
#main.product-details .company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  font-size: 12px;
  line-height: 18px;
  color: #666;
  margin-top: -1px;
}
#main.product-details .company h5 {
  font-size: 12px;
}
#main.product-details .company p {
  margin: 0;
}
#main.product-details .company a {
  border-bottom: 1px solid #a7a7a7;
  text-decoration: none;
  color: #a7a7a7;
}
#main.product-details .company .bar {
  margin-left: 8px;
  margin-right: 8px;
  width: 1px;
  height: 8px;
  background: #b8b8b8;
}
#main.product-details .company .cs {
  display: flex;
  align-items: center;
}
#main.product-details .company .terms {
  display: flex;
  align-items: center;
}
#main.product-details .company dl {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
#main.product-details .company dl dt, #main.product-details .company dl dd {
  margin: 0;
  font-weight: normal;
}
#main.product-details .company dl dt:after {
  margin-right: 3px;
  content: ":";
}
#main.product-details .company address {
  margin: 0;
}
#main.product-details .action {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;
  border-top: 1px solid #e9e9e9;
  background: #fff;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
#main.product-details .action .btn {
  flex: 1;
  height: 40px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 20px;
  border: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
#main.product-details .action .btn-gift-to-me {
  background: #003da6;
  color: #fff !important;
}
#main.product-details .action .btn {
  border: 1px solid #003da6;
  color: #003da6;
  box-shadow: none;
}
#main.product-details .details .details-summary .details-body {
  padding: 25px 30px !important;
}
#main.product-details .details .details-image img {
  width: 100%;
}
#main.product-details .details .details-desc {
  border-bottom: 1px solid #dbdbdb;
}
#main.product-details .details .details-desc .btn[data-toggle=collapse] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 30px;
  margin: 0;
  width: 100%;
  height: 47px;
  background: #e9e9e9;
  box-shadow: none;
  color: #333;
  font-size: 14px;
  border-radius: 0;
  border: 0;
}
#main.product-details .details .details-desc .btn[data-toggle=collapse] span {
  width: 9px;
  height: 6px;
  transform: rotate(180deg);
  background-image: url(/images/ico_arrow_down.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
#main.product-details .details .details-desc .btn[data-toggle=collapse].collapsed span {
  transform: rotate(0deg);
}
#main.product-details .details .details-desc .details-body {
  padding: 30px 30px;
  color: #666;
  font-size: 12px;
  line-height: 16px;
}
#main.product-details .details .details-desc .details-body p {
  position: relative;
  padding-left: 6px;
  margin-bottom: 0;
}
#main.product-details .details .details-desc .details-body p:before {
  content: "-";
  position: absolute;
  left: 0;
}
#main.product-details .price-tag {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e9e9e9;
  background: #fff;
  transition: top 0.3s;
}
#main.product-details .price-tag.show {
  top: 62px;
}
#main.product-details .price-tag dl {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main.product-details .price-tag dl dt, #main.product-details .price-tag dl dd {
  margin: 0;
  padding: 0;
}
#main.product-details .price-tag dl dt {
  font-size: 14px;
  font-weight: normal;
}
#main.product-details .price-tag dl dd {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #003da6;
  font-weight: 900;
  letter-spacing: -1px;
}
#main.product-details .price-tag dl dd s {
  margin-left: 8px;
  font-size: 12px;
  color: #b2b2b2;
  font-weight: normal;
}

#main.gift {
  padding-bottom: 64px;
}
#main.gift .confirm {
  padding: 15px;
  background: #e9e9e9;
}
#main.gift .confirm .confirm-wrapper {
  position: relative;
}
#main.gift .confirm .confirm-wrapper .flag {
  z-index: 1;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
}
#main.gift .confirm .confirm-wrapper .flag b {
  font-size: 14px;
}
#main.gift .confirm .confirm-wrapper .flag small {
  font-size: 10px;
}
#main.gift .confirm .confirm-info {
  padding: 30px 15px 30px 0;
  z-index: 1;
  position: relative;
  min-height: 50px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
#main.gift .confirm .confirm-info .confirm-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 79px;
}
#main.gift .confirm .confirm-info .confirm-image img {
  height: 100%;
}
#main.gift .confirm .confirm-info .confirm-title {
  margin: 10px 0 0;
  font-size: 15px;
  line-height: 25px;
  color: #333;
}
#main.gift .confirm .confirm-info .confirm-price {
  position: relative;
  margin: 0;
  font-weight: 900;
  color: #003da6;
  font-size: 16px;
  line-height: 25px;
}
#main.gift .confirm .confirm-info .confirm-price s {
  color: #b2b2b2;
  font-size: 12px;
  font-weight: normal;
}
#main.gift .confirm .confirm-counter {
  position: relative;
  height: 86px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#main.gift .confirm .confirm-counter-wrapper {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #fff;
  border-top: 1px dashed #b6e0fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main.gift .confirm .confirm-counter-wrapper .counter-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main.gift .confirm .confirm-counter-wrapper .control-title {
  margin-right: 15px;
  font-size: 12px;
  color: #666;
}
#main.gift .confirm .confirm-counter-wrapper .control-body {
  display: flex;
  align-items: center;
}
#main.gift .confirm .confirm-counter-wrapper .control-body .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #d7d7d7;
  border-radius: 50%;
  background: #fff;
}
#main.gift .confirm .confirm-counter-wrapper .control-body .btn img {
  width: 8px;
}
#main.gift .confirm .confirm-counter-wrapper .control-body .control-number {
  width: 40px;
  font-size: 16px;
  color: #003da6;
  font-weight: bold;
  text-align: center;
  border: 0;
}
#main.gift .confirm .confirm-counter-wrapper .counter-help {
  margin-top: 10px;
  font-size: 10px;
  color: #b2b2b2;
  text-align: center;
}
#main.gift .message {
  padding: 0 15px 15px 15px;
  background: #e9e9e9;
}
#main.gift .message .message-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  background: #fbe032;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#main.gift .message .message-wrapper .form-control {
  padding-left: 18px;
  padding-right: 18px;
  min-height: 40px;
  border-radius: 15px;
  border: 1px solid #fff;
  box-shadow: none;
  font-size: 12px;
  color: #333;
  min-width: auto;
  transition: none;
}
#main.gift .message .message-wrapper .form-control::placeholder {
  color: #b2b2b2;
  font-size: 12px;
}
#main.gift .message .message-wrapper .form-control:focus {
  border: 1px solid #e3c60d;
}
#main.gift .message .message-wrapper .form-control:read-only {
  background: #ffe95b;
  border: 1px solid #ffe95b;
}
#main.gift .message .message-wrapper textarea.form-control {
  padding-top: 15px;
  padding-bottom: 15px;
}
#main.gift .message .message-wrapper .message-reciever {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
}
#main.gift .message .message-wrapper .message-reciever .form-control.name {
  width: 105px;
}
#main.gift .message .message-wrapper .message-reciever .btn-delete-contact {
  padding: 0;
  border: 0;
  width: 39px;
  height: 39px;
  border-radius: 15px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main.gift .message .message-wrapper .message-reciever .btn-delete-contact img {
  width: 9px;
}
#main.gift .message .message-wrapper .message-help {
  padding-left: 10px;
  padding-right: 10px;
  color: #666;
  letter-spacing: -1px;
  font-size: 12px;
  line-height: 16px;
}
#main.gift .message .message-wrapper .message-row {
  padding-top: 5px;
  padding-bottom: 5px;
}
#main.gift .message .message-wrapper .message-col {
  padding-left: 5px;
  padding-right: 5px;
}
#main.gift .message .message-wrapper .message-bytes {
  padding-bottom: 10px;
  padding-right: 13px;
  text-align: right;
  font-size: 12px;
  color: #999;
}
#main.gift .message .message-wrapper .message-bytes i {
  font-style: normal;
  color: #F36C58;
}
#main.gift .message .message-wrapper .message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  padding-left: 13px;
  padding-right: 13px;
  height: 45px;
}
#main.gift .message .message-wrapper .message-header h4 {
  margin: 0;
  font-size: 12px;
  color: #666;
  font-weight: normal;
}
#main.gift .message .message-wrapper .message-header .btn {
  display: flex;
  align-items: center;
  padding: 0;
  border: 0;
  font-size: 12px;
  color: #999;
  text-decoration: none;
}
#main.gift .message .message-wrapper .message-header .btn img {
  margin-right: 5px;
  height: 14px;
}
#main.gift .message .message-wrapper .message-header .phone {
  font-size: 12px;
  color: #666;
}
#main.gift .message .message-wrapper .message-body .preview {
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
#main.gift .message .message-wrapper .message-body .preview .preview-body {
  padding-top: 28px;
  min-height: 120px;
  color: #666;
  font-size: 16px;
  line-height: 30px;
  font-weight: 900;
  text-align: center;
  background-image: url(/images/bg_message_preview.gif);
  background-repeat: repeat-x;
  background-size: auto 100%;
}
#main.gift .action {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;
  border-top: 1px solid #e9e9e9;
  background: #fff;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
#main.gift .action .btn {
  flex: 1;
  height: 40px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 20px;
  border: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #003da6;
  color: #003da6;
  font-size: 14px;
  box-shadow: none;
}
#main.gift .action .btn.on {
  background: #003da6;
  color: #fff !important;
}
#main.gift .pay-info {
  padding: 18px 15px;
}
#main.gift .pay-info dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 15px;
  height: 50px;
}
#main.gift .pay-info dl dt, #main.gift .pay-info dl dd {
  font-size: 12px;
}
#main.gift .pay-info dl dt {
  color: #666;
  font-weight: normal;
}
#main.gift .pay-info dl dd {
  margin: 0;
  padding: 0;
  color: #333;
}
#main.gift .pay-info dl dd b {
  font-weight: 900;
}
#main.gift .pay-info dl dd i {
  font-style: normal;
  font-weight: 900;
  color: #003da6;
}
#main.gift .pay-info dl + dl {
  border-top: 1px solid #e9e9e9;
}
#main.gift .agree {
  margin-bottom: 25px;
  padding: 0 15px;
}
#main.gift .agree ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#main.gift .agree ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
}
#main.gift .agree ul li label {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  font-size: 10px;
  color: #666;
}
#main.gift .agree ul li label input[type=checkbox] + span {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-image: url(/images/ico_checkbox.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
#main.gift .agree ul li label input[type=checkbox]:checked + span {
  background-position: 0 -20px;
}
#main.gift .agree ul li .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 80px;
  height: 25px;
  border: 1px solid #e9e9e9;
  border-radius: 13px;
  font-size: 10px;
  color: #666;
  box-shadow: none;
  text-decoration: none;
}
#main.gift .agree ul li + li {
  margin-top: 8px;
}
#main.gift .complete {
  padding: 15px;
}
#main.gift .complete .complete-title {
  margin: 15px 0 25px 0;
  font-size: 16px;
  color: #003da6;
  font-weight: 900;
  text-align: center;
}
#main.gift .complete .complete-body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#main.gift .complete .complete-body ul li {
  position: relative;
  padding-left: 10px;
  line-height: 15px;
  color: #999;
}
#main.gift .complete .complete-body ul li:before {
  content: "·";
  position: absolute;
  left: 0;
}
#main.gift .complete .complete-body ul li i {
  font-style: normal;
  color: #333;
}
#main.gift .complete .complete-body ul li + li {
  margin-top: 5px;
}

#modal-select-contact .modal-dialog {
  display: flex;
  align-items: center;
  padding: 30px;
  margin: 0;
  height: 100%;
  max-width: none;
}
#modal-select-contact .modal-content {
  overflow: hidden;
  border: 0;
  border-radius: 15px;
}
#modal-select-contact .modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 61px;
  border-bottom: 1px solid #fbe032;
}
#modal-select-contact .modal-header .modal-title {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 900;
}
#modal-select-contact .modal-footer {
  overflow: hidden;
  padding: 0;
  height: 48px;
  border: 0;
}
#modal-select-contact .modal-footer .btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}
#modal-select-contact .modal-footer .btn-cancel {
  background: #e9e9e9;
  color: #003da6;
}
#modal-select-contact .modal-footer .btn-ok {
  background: #003da6;
  color: #fff;
}
#modal-select-contact .modal-body {
  overflow: auto;
  padding: 0;
  height: 280px;
}
#modal-select-contact .modal-body .help {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 0;
  color: #666;
}
#modal-select-contact .modal-body .contact-table .contact-header {
  height: 23px;
  background: #e9e9e9;
  font-size: 10px;
  color: #666;
}
#modal-select-contact .modal-body .contact-table .contact-header [role=row] {
  display: flex;
  height: 100%;
}
#modal-select-contact .modal-body .contact-table .contact-header [role=row] [role=columnheader] {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
#modal-select-contact .modal-body .contact-table .contact-header [role=row] .name {
  flex: 1;
}
#modal-select-contact .modal-body .contact-table .contact-header [role=row] .nickname {
  width: 105px;
}
#modal-select-contact .modal-body .contact-table .contact-body {
  padding-left: 15px;
  padding-right: 15px;
}
#modal-select-contact .modal-body .contact-table .contact-body [role=row] {
  display: flex;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  color: #666;
}
#modal-select-contact .modal-body .contact-table .contact-body [role=row] + [role=row] {
  border-top: 1px solid #e9e9e9;
}
#modal-select-contact .modal-body .contact-table .contact-body [role=row] .name {
  flex: 1;
  display: flex;
}
#modal-select-contact .modal-body .contact-table .contact-body [role=row] .name input[type=radio] + .check {
  width: 20px;
  height: 20px;
  background-image: url(/images/ico_checkbox.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
#modal-select-contact .modal-body .contact-table .contact-body [role=row] .name input[type=radio]:checked + .check {
  background-position: 0 -20px;
}
#modal-select-contact .modal-body .contact-table .contact-body [role=row] .name input[type=radio]:checked ~ .info .username {
  color: #003da6;
}
#modal-select-contact .modal-body .contact-table .contact-body [role=row] .name .info {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
#modal-select-contact .modal-body .contact-table .contact-body [role=row] .name .info .username {
  margin-bottom: 5px;
  line-height: 20px;
  color: #333;
}
#modal-select-contact .modal-body .contact-table .contact-body [role=row] .name .info .email {
  font-size: 10px;
}
#modal-select-contact .modal-body .contact-table .contact-body [role=row] .nickname {
  width: 75px;
  text-align: center;
}

.history {
  padding-top: 30px;
}
.history .no-data {
  height: calc(100% - 62px - 30px - 30px - 40px - 62px);
}
.history .history-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.history .history-list li {
  padding-left: 15px;
  padding-right: 15px;
}
.history .history-item {
  overflow: hidden;
  display: flex;
  background: #fff;
  border-radius: 15px;
  margin-bottom: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.history .history-item .history-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
}
.history .history-item .history-image img {
  width: 100%;
}
.history .history-item .history-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.history .history-item .history-body .history-category {
  margin: 0 0 5px 0;
  font-size: 10px;
  color: #999;
  font-weight: 900;
}
.history .history-item .history-body .history-title {
  margin: 0 0 5px 0;
  font-size: 13px;
  color: #333;
  font-weight: 900;
}
.history .history-item .history-body .history-phone {
  margin-bottom: 5px;
  color: #666;
  font-size: 10px;
}
.history .history-item .history-body .history-expire {
  display: flex;
  margin-bottom: 10px;
  color: #666;
  font-size: 10px;
}
.history .history-item .history-body .history-expire .d-day {
  margin-left: 10px;
  padding-left: 8px;
  padding-right: 8px;
  height: 15px;
  background: #ffd427;
  font-size: 10px;
  color: #333;
  border-radius: 8px;
}
.history .history-item .history-body .history-price {
  display: flex;
  align-items: center;
  color: #999;
  font-size: 11px;
  line-height: 11px;
}
.history .history-item .history-body .history-price span {
  margin-right: 5px;
}
.history .history-item .history-body .history-price b {
  font-size: 14px;
  color: #003da6;
  font-weight: 900;
}

#main.history {
  background: #e9e9e9;
}
#main.history:before {
  margin-top: -1px;
  display: block;
  width: 100%;
  height: 1px;
  content: " ";
}

#main.history-details .product {
  padding: 15px;
  background: #e9e9e9;
}
#main.history-details .product .product-wrapper {
  position: relative;
}
#main.history-details .product .product-header {
  padding: 18px;
  z-index: 1;
  position: relative;
  min-height: 50px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main.history-details .product .product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 216px;
  height: 135px;
}
#main.history-details .product .product-image img {
  height: 100%;
}
#main.history-details .product .product-title {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  color: #333;
  font-weight: 900;
}
#main.history-details .product .order-info {
  position: relative;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#main.history-details .product .order-info-wrapper {
  z-index: 1;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 20px;
  background: #fff;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px dashed #b6e0fd;
}
#main.history-details .product .order-info-wrapper dl {
  margin: 0;
  display: flex;
}
#main.history-details .product .order-info-wrapper dl dt, #main.history-details .product .order-info-wrapper dl dd {
  margin: 0;
  font-size: 12px;
}
#main.history-details .product .order-info-wrapper dl dt {
  color: #666;
  width: 68px;
  font-weight: normal;
}
#main.history-details .product .order-info-wrapper dl dd {
  color: #333;
  word-break: break-all;
  width: calc(100% - 68px);
}
#main.history-details .product .order-info-wrapper dl dd b {
  font-weight: 900;
}
#main.history-details .product .order-info-wrapper dl dd i {
  color: #003da6;
  font-weight: 900;
  font-style: normal;
}
#main.history-details .product .order-info-wrapper dl + dl {
  margin-top: 3px;
}
#main.history-details .message {
  padding: 0 15px 15px 15px;
  background: #e9e9e9;
}
#main.history-details .message .message-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  background: #fbe032;
  border-radius: 13px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#main.history-details .message .message-wrapper .message-row {
  padding-top: 5px;
  padding-bottom: 5px;
}
#main.history-details .message .message-wrapper .message-col {
  padding-left: 5px;
  padding-right: 5px;
}
#main.history-details .message .message-wrapper .message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  padding-left: 13px;
  padding-right: 13px;
  height: 45px;
}
#main.history-details .message .message-wrapper .message-header h4 {
  margin: 0;
  font-size: 12px;
  color: #666;
  font-weight: normal;
}
#main.history-details .message .message-wrapper .message-header .phone {
  font-size: 12px;
}
#main.history-details .message .message-wrapper .message-body .preview {
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
#main.history-details .message .message-wrapper .message-body .preview .preview-body {
  padding-top: 28px;
  min-height: 120px;
  color: #666;
  font-size: 16px;
  line-height: 30px;
  font-weight: 900;
  text-align: center;
  background-image: url(/images/bg_message_preview.gif);
  background-repeat: repeat-x;
  background-size: auto 100%;
}
#main.history-details .company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 12px;
  line-height: 18px;
  color: #666;
  margin-top: -1px;
}
#main.history-details .company h5 {
  font-size: 12px;
}
#main.history-details .company p {
  margin: 0;
}
#main.history-details .company a {
  border-bottom: 1px solid #a7a7a7;
  text-decoration: none;
  color: #a7a7a7;
}
#main.history-details .company .bar {
  margin-left: 8px;
  margin-right: 8px;
  width: 1px;
  height: 8px;
  background: #b8b8b8;
}
#main.history-details .company .cs {
  display: flex;
  align-items: center;
}
#main.history-details .company .terms {
  display: flex;
  align-items: center;
}
#main.history-details .company dl {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
#main.history-details .company dl dt, #main.history-details .company dl dd {
  margin: 0;
  font-weight: normal;
}
#main.history-details .company dl dt:after {
  margin-right: 3px;
  content: ":";
}
#main.history-details .company address {
  margin: 0;
}
#main.history-details .action {
  border-top: 1px solid #f3f3f3;
  padding-top: 30px;
  padding-bottom: 15px;
  width: 100%;
  border-top: 1px solid #e9e9e9;
  background: #fff;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
#main.history-details .action .btn {
  flex: 1;
  height: 40px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 20px;
  border: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  box-shadow: none;
}
#main.history-details .action .btn-product-details {
  background: #003da6;
  color: #fff !important;
}
#main.history-details .action .btn {
  border: 1px solid #003da6;
  color: #003da6;
}
#main.history-details .details .details-desc {
  border-bottom: 1px solid #dbdbdb;
}
#main.history-details .details .details-desc .btn[data-toggle=collapse] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 30px;
  margin: 0;
  width: 100%;
  height: 47px;
  background: #e9e9e9;
  box-shadow: none;
  color: #333;
  font-size: 14px;
  border-radius: 0;
  border: 0;
}
#main.history-details .details .details-desc .btn[data-toggle=collapse] span {
  width: 9px;
  height: 6px;
  transform: rotate(180deg);
  background-image: url(/images/ico_arrow_down.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
#main.history-details .details .details-desc .btn[data-toggle=collapse].collapsed span {
  transform: rotate(0deg);
}
#main.history-details .details .details-desc .details-body {
  padding: 30px 30px;
  color: #666;
  font-size: 12px;
  line-height: 16px;
}
#main.history-details .details .details-desc .details-body p {
  position: relative;
  padding-left: 6px;
  margin-bottom: 0;
}
#main.history-details .details .details-desc .details-body p:before {
  content: "-";
  position: absolute;
  left: 0;
}
#main.history-details .pay-info {
  padding: 0 15px;
}
#main.history-details .pay-info dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 15px;
  height: 50px;
}
#main.history-details .pay-info dl dt, #main.history-details .pay-info dl dd {
  font-size: 12px;
}
#main.history-details .pay-info dl dt {
  color: #666;
  font-weight: normal;
}
#main.history-details .pay-info dl dd {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  color: #333;
}
#main.history-details .pay-info dl dd b {
  font-weight: 900;
}
#main.history-details .pay-info dl dd i {
  font-style: normal;
  font-weight: 900;
  color: #003da6;
}
#main.history-details .pay-info dl + dl {
  border-top: 1px solid #e9e9e9;
}
#main.history-details .pay-info dl .btn-copy {
  margin-left: 10px;
  padding: 0 11px;
  border: 1px solid black;
  height: 22px;
  border-radius: 11px;
  border: 1px solid #666666;
  font-size: 10px;
  line-height: 10px;
  color: #666666;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

#main.terms {
  padding: 25px;
  color: #666;
  font-size: 12px;
  line-height: 18px;
}

.alert-modal .modal-dialog {
  display: flex;
  align-items: center;
  padding: 30px;
  margin: 0;
  height: 100%;
  max-width: none;
}
.alert-modal .modal-content {
  border: 0;
  border-radius: 15px;
}
.alert-modal .modal-content .btn-close {
  display: flex;
  align-items: center;
  position: absolute;
  top: -23px;
  right: 0;
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  text-decoration: none;
}
.alert-modal .modal-content .btn-close img {
  margin-top: 1px;
  margin-right: 5px;
  width: 8px;
  height: 8px;
}
.alert-modal .modal-content .btn-not-today {
  position: absolute;
  bottom: -25px;
  left: 0;
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  color: #d1d1d1;
  text-decoration: none;
}
.alert-modal .modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 61px;
  border-bottom: 1px solid #fbe032;
}
.alert-modal .modal-header .modal-title {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 900;
}
.alert-modal .modal-footer {
  position: relative;
  padding: 0;
  height: 48px;
  border: 0;
}
.alert-modal .modal-footer .btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}
.alert-modal .modal-footer .btn-cancel {
  background: #e9e9e9;
  color: #003da6;
}
.alert-modal .modal-footer .btn-ok {
  background: #003da6;
  color: #fff;
}
.alert-modal .modal-footer .btn:first-child {
  border-bottom-left-radius: 15px;
}
.alert-modal .modal-footer .btn:last-child {
  border-bottom-right-radius: 15px;
}
.alert-modal .modal-body {
  overflow: auto;
  padding: 0;
}
.alert-modal div.message {
  padding: 23px 38px;
  color: #666;
}
.alert-modal div.message .message-header {
  text-align: center;
}
.alert-modal div.message .message-header h5 {
  margin: 0 0 15px;
  font-size: 14px;
  font-weight: normal;
}
.alert-modal div.message .message-body {
  font-size: 12px;
  line-height: 18px;
}
.alert-modal div.message .message-body h6 {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}
.alert-modal div.message .message-body p {
  margin: 0;
}
.alert-modal p.message {
  margin: 0;
  padding: 20px 30px;
  font-size: 14px;
  color: #666;
  letter-spacing: -1px;
  text-align: center;
}

#refund-amount .help {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 115px;
}
#refund-amount .help h5, #refund-amount .help p {
  margin: 0;
}
#refund-amount .help h5 {
  margin-bottom: 15px;
  font-size: 16px;
  color: #003da6;
  font-weight: 900;
  letter-spacing: -1px;
}
#refund-amount .help p {
  font-size: 14px;
  line-height: 20px;
  color: #666;
  text-align: center;
}
#refund-amount .tbl .tbl-header {
  height: 23px;
  background: #e9e9e9;
  font-size: 10px;
  color: #666;
}
#refund-amount .tbl .tbl-header [role=row] {
  display: flex;
  height: 100%;
}
#refund-amount .tbl .tbl-header [role=row] [role=columnheader] {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
#refund-amount .tbl .tbl-header [role=row] .pay-type {
  flex: 1;
  text-align: center;
}
#refund-amount .tbl .tbl-header [role=row] .price {
  width: 100px;
  text-align: center;
}
#refund-amount .tbl .tbl-body [role=row] {
  display: flex;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  color: #666;
  border-bottom: 1px solid #e9e9e9;
  font-size: 12px;
}
#refund-amount .tbl .tbl-body [role=row] .pay-type {
  padding-left: 23px;
  padding-right: 23px;
  flex: 1;
}
#refund-amount .tbl .tbl-body [role=row] .price {
  width: 100px;
  text-align: center;
}
#refund-amount .notice {
  padding: 18px 23px;
}
#refund-amount .notice h5, #refund-amount .notice p {
  margin: 0;
  font-size: 12px;
  line-height: 18px !important;
  color: #666;
}
#refund-amount .notice h5 {
  font-weight: 900;
}
#refund-amount .modal-body {
  max-height: 280px;
}

#main.error {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
}
#main.error .logo {
  display: flex;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 85px;
}
#main.error .logo img {
  width: 120px;
}
#main.error .error-message p {
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 12px;
  color: #666;
}
#main.error .error-message p b {
  font-size: 22px;
  color: #003da6;
  font-weight: 900;
}
#main.error .btn-home {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 40px;
  background: #003da6;
  color: #fff;
  font-size: 14px;
  border-radius: 20px;
}

.timedeal-modal .swiper-pagination {
  display: flex;
  justify-content: center;
  height: 8px;
  bottom: 15px !important;
}
.timedeal-modal .swiper-pagination .swiper-pagination-bullet {
  margin: 0 5px;
  width: 8px;
  height: 8px;
  background: #b7b7b7;
  opacity: 0.6;
}
.timedeal-modal .swiper-pagination .swiper-pagination-bullet-active {
  background: #b7b7b7;
  opacity: 1;
}

.timedeal-modal.module-type .modal-dialog {
  justify-content: center;
  padding: 0;
  background: rgba(0, 0, 0, 0.6);
}
.timedeal-modal.module-type .modal-content {
  width: 310px;
  background: transparent;
}
.timedeal-modal.module-type .modal-content .btn-close {
  top: 3px;
}
.timedeal-modal.module-type .modal-header {
  height: auto;
  padding: 0;
}
.timedeal-modal.module-type .modal-title {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.timedeal-modal.module-type .modal-title img {
  width: 100%;
}
.timedeal-modal.module-type .modal-body {
  background: #fff;
}
.timedeal-modal.module-type .modal-body .timedeal-expire {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #003da6;
  color: #fff;
  font-size: 12px;
  height: 26px;
}
.timedeal-modal.module-type .modal-body .timedeal-expire img {
  margin-right: 5px;
  width: 11px;
  height: 11px;
}
.timedeal-modal.module-type .modal-body .swiper-slide {
  height: 230px;
}
.timedeal-modal.module-type .modal-body .swiper-slide a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.timedeal-modal.module-type .modal-body .swiper-slide .product-image {
  margin-bottom: 15px;
  width: 175px;
  height: 110px;
}
.timedeal-modal.module-type .modal-body .swiper-slide .product-image img {
  height: 100%;
}
.timedeal-modal.module-type .modal-body .swiper-slide .product-title {
  margin-bottom: 5px;
  font-size: 15px;
  color: #333;
}
.timedeal-modal.module-type .modal-body .swiper-slide .product-price {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #003da6;
  font-weight: bold;
  letter-spacing: -1px;
}
.timedeal-modal.module-type .modal-body .swiper-slide .product-price s {
  margin-left: 8px;
  color: #b2b2b2;
  font-size: 12px;
  font-weight: normal;
}
.timedeal-modal.module-type .modal-footer .btn {
  border-color: #003da6;
}

@media (min-height: 717px) {
  #main.main #exchange .category-list {
    height: 248px;
  }
  #main.main #exchange .category-list ul li {
    padding-bottom: 28px;
  }
  #main.main #exchange .category-list ul li a {
    padding-top: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
