@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap&subset=korean');
@import 'var';

html, body {
    position: relative;
    margin: 0;
    padding: 0;
}

html {
    border: 2px solid orange;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    background: transparent;
    border: 2px solid skyblue;
}

body.loading {
    overflow: hidden;
}

#header {
    z-index: 1010;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: $kc;
    color: #fff;
    width: 100%;
    height: 62px;
    padding-left: 15px;
    padding-right: 15px;
    h1 {
        margin-bottom: 0;
        font-size: 16px;
        flex: 1;
        text-align: center;
    }
    .btn, .empty {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px !important;
        height: 32px !important;
        border: 0;
        padding: 0;
        outline: 0;
        box-shadow: none;
    }
    .btn-back {
        img {
            width: 100%;
        }
    }
    .btn-close {
        img {
            width: 100%;
        }
    }
    .btn-history,
    .btn-category {
        img {
            width: 100%;
        }
    }
    & + #main {
        margin-top: 62px;
    }
}

#main {
    .tabs {
        z-index: 1005;
        position: fixed;
        top: 62px;
        width: 100%;
        height: 48px;
        li {
            flex: 1;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                padding: 0;
                border: 0;
                text-align: center;
                font-size: 14px;
                color: #666;
                background: #fff;
                border-bottom: 1px solid #e9e9e9;
                border-radius: 0;
                &.active {
                    border-bottom: 2px solid $kc;
                    color: $kc;
                    font-weight: bold;
                }
            }
        }
    }
    .product-item {
        position: relative;
        display: block;
        overflow: hidden;
        text-decoration: none;
        // border-radius: vw(35px);
        border-radius: 15px;
        background: #fff;
        .product-body {
            // padding: vw(15px) vw(30px) vw(15px) vw(30px);
            // height: vw(215px);
            padding: 8px 15px 8px 15px;
            height: 108px;
        }
        .product-image {
            display: flex;
            justify-content: center;
            align-items: center;
            // width: vw(270px);
            // height: vw(170px);
            width: 135px;
            height: 85px;
            img {
                display: block;
                margin: 0 auto;
                height: 100%;
            }
        }
        .product-category {
            margin: 0;
            font-size: 10px;
            color: #bebebe;
        }
        .product-title {
            margin: 5px 0 0;
            font-size: 13px;
            line-height: 15px;
            min-height: 30px;
            color: #333;
        }
        .product-price {
            margin: 5px 0 0;
            font-size: 14px;
            font-weight: bold;
            color: $kc;
            s {
                color: #b2b2b2;
                font-weight: normal;
                font-size: 11px;
            }
        }
        .flag {
            position: absolute;
            top: 0;
            right: 5px;
        }
    }
    .flag {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: var(--light);
        line-height:  11px;
        b {
            font-size: 11px;
            color: #fff;
        }
        small {
            margin-right: -2px;
            margin-left: 2px;
            font-size: 10px;
            color: rgba(#fff, .6);
            font-weight: 300;
        }
        &.pink {
            background: #f36c58;
        }
    }
    .sorter {
        // margin-top: vw(60px);
        z-index: 1001;
        margin-bottom: 30px;
        margin-left: 15px;
        margin-right: 15px;
        height: 40px;
        border-radius: 20px;
        background-color: #fff;
        border: 0;
        li {
            flex: 1;
            margin: 0;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                border: 0;
                color: #666;
                font-size: 12px;
                &.active {
                    background: $kc;
                    color: #fff;
                    border-radius: 20px;
                }
            }
        }
    }
    .category-tabs {
        z-index: 10;
        position: fixed;
        top: 62px;
        left: 0;
        overflow: auto;
        width: 100%;
        height: 48px;
        .tabs {
            position: relative;
            top: 0;
            left: 0;
            width: 200%;
            height: 100%;
            li {
                width: 33.33333334%;
            }
        }
    }
}

.no-data {
    position: fixed;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 18px;
    color: #666;
}

div.loading {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 65px;
        height: 65px;
    }
}