@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap&subset=korean");
html, body {
  position: relative;
  margin: 0;
  padding: 0;
}

html.full-height,
body.full-height {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 3.6111111111vw;
  background: #e9e9e9;
}

#header {
  z-index: 11;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background: #003da6;
  color: #fff;
  height: 17.2222222222vw;
  padding-left: 3.4722222222vw;
  padding-right: 3.4722222222vw;
}
#header h1 {
  margin-bottom: 0;
  font-size: 4.4444444444vw;
  flex: 1;
  text-align: center;
}
#header .btn, #header .empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11.1111111111vw;
  height: 11.1111111111vw;
  border: 0;
  padding: 0;
  outline: 0;
  box-shadow: none;
}
#header .btn-back img {
  width: 3.1944444444vw;
}
#header .btn-close img {
  width: 5.9722222222vw;
}
#header .btn-history img {
  width: 5.9722222222vw;
}

#main .tabs {
  z-index: 10;
  position: sticky;
  top: 17.2222222222vw;
  height: 15vw;
}
#main .tabs li {
  flex: 1;
}
#main .tabs li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
  border: 0;
  text-align: center;
  font-size: 3.8888888889vw;
  color: #666;
  background: #fff;
  border-bottom: 0.2777777778vw solid #e9e9e9;
  border-radius: 0;
}
#main .tabs li a.active {
  border-bottom: 0.5555555556vw solid #003da6;
  color: #003da6;
  font-weight: bold;
}
#main .product-item {
  position: relative;
  display: block;
  overflow: hidden;
  text-decoration: none;
  border-radius: 4.8611111111vw;
  background: #fff;
}
#main .product-item .product-body {
  padding: 2.0833333333vw 4.1666666667vw 4.1666666667vw 4.1666666667vw;
  height: 29.8611111111vw;
}
#main .product-item .product-image {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 37.5vw;
  height: 23.6111111111vw;
}
#main .product-item .product-image img {
  height: 100%;
}
#main .product-item .product-category {
  margin: 0;
  font-size: 2.7777777778vw;
  color: #bebebe;
}
#main .product-item .product-title {
  margin: 2.7777777778vw 0 0;
  font-size: 3.6111111111vw;
  line-height: 4.1666666667vw;
  min-height: 8.3333333333vw;
  color: #333;
}
#main .product-item .product-price {
  margin: 2.0833333333vw 0 0;
  font-size: 3.8888888889vw;
  font-weight: bold;
  color: #003da6;
}
#main .product-item .product-price s {
  color: #b2b2b2;
  font-weight: normal;
  font-size: 3.0555555556vw;
}
#main .product-item .flag {
  position: absolute;
  top: 0;
  right: 1.3888888889vw;
}
#main .flag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.3333333333vw;
  height: 8.3333333333vw;
  border-radius: 50%;
  background: var(--light);
  line-height: 3.0555555556vw;
}
#main .flag b {
  font-size: 3.0555555556vw;
  color: #fff;
}
#main .flag small {
  margin-right: -0.6944444444vw;
  margin-left: 0.6944444444vw;
  font-size: 1.9444444444vw;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
}
#main .flag.pink {
  background: #f36c58;
}
#main .sorter {
  margin-top: 8.3333333333vw;
  margin-bottom: 8.3333333333vw;
  margin-left: 4.1666666667vw;
  margin-right: 4.1666666667vw;
  height: 10.5555555556vw;
  border-radius: 5.2777777778vw;
  background-color: #fff;
}
#main .sorter li {
  flex: 1;
  margin: 0;
}
#main .sorter li a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  border: 0;
  color: #666;
  font-size: 3.3333333333vw;
}
#main .sorter li a.active {
  margin-top: -0.4166666667vw;
  height: 11.1111111111vw;
  background: #003da6;
  color: #fff;
  border-radius: 5.2777777778vw;
}
#main .category-tabs {
  z-index: 10;
  position: sticky;
  top: 17.2222222222vw;
  overflow: auto;
  width: 100%;
}
#main .category-tabs .tabs {
  width: 200%;
}
#main .category-tabs .tabs li {
  width: 33.33333334%;
}

/*# sourceMappingURL=common.css.map */
