@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap&subset=korean');
@import 'var';

html, body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

html.full-height,
body.full-height {
    width: 100%;
    height: 100%;
    min-height: auto;
}

body.full-height {
    &:before, 
    &:after {
        display: flex;
        content: ' ';
    }
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: vw(26px);
    background: transparent;
}

body.loading {
    overflow: hidden;
}

#header {
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background: $kc;
    color: #fff;
    height: vw(124px);
    padding-left: vw(25px);
    padding-right: vw(25px);
    h1 {
        margin-bottom: 0;
        font-size: vw(32px);
        flex: 1;
        text-align: center;
    }
    .btn, .empty {
        display: flex;
        justify-content: center;
        align-items: center;
        width: vw(64px);
        height: vw(64px);
        border: 0;
        padding: 0;
        outline: 0;
        box-shadow: none;
    }
    .btn-back {
        img {
            width: 100%;
        }
    }
    .btn-close {
        img {
            width: 100%;
        }
    }
    .btn-history,
    .btn-category {
        img {
            width: 100%;
        }
    }
    & + #main {
        margin-top: vw(124px);
    }
}

#main {
    .tabs {
        z-index: 10;
        position: fixed;
        top: vw(124px);
        width: 100%;
        height: vw(96px);
        li {
            flex: 1;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                padding: 0;
                border: 0;
                text-align: center;
                font-size: vw(28px);
                color: #666;
                background: #fff;
                border-bottom: vw(2px) solid #e9e9e9;
                border-radius: 0;
                &.active {
                    border-bottom: vw(4px) solid $kc;
                    color: $kc;
                    font-weight: bold;
                }
            }
        }
    }
    .product-item {
        position: relative;
        display: block;
        overflow: hidden;
        text-decoration: none;
        border-radius: vw(35px);
        background: #fff;
        .product-body {
            padding: vw(15px) vw(30px) vw(15px) vw(30px);
            height: vw(215px);
        }
        .product-image {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            width: vw(270px);
            height: vw(170px);
            img {
                height: 100%;
            }
        }
        .product-category {
            margin: 0;
            font-size: vw(20px);
            color: #bebebe;
        }
        .product-title {
            margin: vw(10px) 0 0;
            font-size: vw(26px);
            line-height: vw(30px);
            min-height: vw(60px);
            color: #333;
        }
        .product-price {
            margin: vw(10px) 0 0;
            font-size: vw(28px);
            font-weight: bold;
            color: $kc;
            s {
                color: #b2b2b2;
                font-weight: normal;
                font-size: vw(22px);
            }
        }
        .flag {
            position: absolute;
            top: 0;
            right: vw(10px);
        }
    }
    .flag {
        display: flex;
        justify-content: center;
        align-items: center;
        width: vw(60px);
        height: vw(60px);
        border-radius: 50%;
        background: var(--light);
        line-height:  vw(22px);
        b {
            font-size: vw(22px);
            color: #fff;
        }
        small {
            margin-right: vw(-5px);
            margin-left: vw(5px);
            font-size: vw(14px);
            color: rgba(#fff, .6);
            font-weight: 300;
        }
        &.pink {
            background: #f36c58;
        }
    }
    .sorter {
        margin-top: vw(60px);
        margin-bottom: vw(60px);
        margin-left: vw(30px);
        margin-right: vw(30px);
        height: vw(80px);
        border-radius: vw(40px);
        background-color: #fff;
        border: 0;
        li {
            flex: 1;
            margin: 0;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                padding: 0;
                height: 100%;
                border: 0;
                color: #666;
                font-size: vw(24px);
                &.active {
                    background: $kc;
                    color: #fff;
                    border-radius: vw(40px);
                }
            }
        }
    }
    .category-tabs {
        z-index: 10;
        position: fixed;
        top: vw(124px);
        left: 0;
        overflow: auto;
        width: 100%;
        height: vw(96px);
        .tabs {
            position: relative;
            top: 0;
            left: 0;
            width: 200%;
            height: 100%;
            li {
                width: 33.33333334%;
            }
        }
    }
}

.no-data {
    position: fixed;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: vw(24px);
    line-height: vw(36px);
    color: #666;
}

div.loading {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: vw(130px);
        height: vw(130px);
    }
}